/* Basic resets */
* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

/* Sets up basic settings and sliding gradient background */
body {
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	color: #411C16;
	font-family: Verdana, sans-serif;
	position: relative;

	/* Sliding gradient background */
	/* TODO: fix / change gradient timing, maybe change color scheme */
	/* https://coolors.co/e46c88-f893b5-feaec0-ffbdcb-ffd8d9 */
	/* background-image: linear-gradient(135deg, #F893B5, #FFBDCB, #F893B5, #FFBDCB, #F893B5); */
	background-image: url("https://i.imgur.com/NGP1Elk.gif");
	background-blend-mode: hard-light;
	background-color: #F7BFC9;
	background-size: 30%;
	background-repeat: repeat;
	background-attachment: fixed;
	/* animation: sliding-gradient 5s linear infinite forwards alternate; */
}

a {
	text-decoration: none;
}

/* For the navbar that stays at the top */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	z-index: 999;
}

nav {
	width: 100%;
	height: 100%;
	background-color: #E598A4;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: .75rem;

	padding: 4px 8px;
}

#logo {
	display: block;
	height: 100%;
	aspect-ratio: 1;
}

#logo > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#nav-text {
	font-size: 1.5rem;
	font-weight: bold;
	font-family: sans-serif;
	color: #411C16;

}

/* Top section of the site */
main {
	width: 100%;
	/* Leave room for the navbar and See More */
	padding-top: calc(60px + 1rem);
	position: relative;

	display: flex;
	flex-direction: column;
}

/* Used as a container in the games */
#game-area {
	width: 100%;
	padding: 12px;
}

/* Basic footer. Only needs to contain a few lines of text but be distinct */
footer {
	padding: .5rem 2rem;
	background-color: #E598A4;
}

footer a {
	transition: .2s;
	color: darkblue;
}

footer a:hover {
	text-decoration: darkblue underline;
}

/* Quick useful utility classes */
.pad-small {
	padding: 0.5rem;
}

.pad-none {
	padding: 0;
}

.margin-none {
	margin: 0;
}

.text-center {
	text-align: center;
}

.desktop-only {
	display: none;
}

/* Desktop styles */
@media only screen and (min-width: 868px) {
	/* Show desktop-only instructions */
	.desktop-only {
		display: block;
	}

	/* Used as a container in the games */
	#game-area {
		padding-left: 7.5rem;
		padding-right: 7.5rem;
	}
}

/* Animations for the background and song reveal animation */
@keyframes sliding-gradient {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 400%;
	}
}
