/* Basic resets */
* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

/* Sets up basic settings and sliding gradient background */
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	color: #161f24;
	font-family: sans-serif;
	position: relative;

	/* Sliding gradient background */
	/* TODO: fix / change gradient timing, maybe change color scheme */
	/* https://coolors.co/e46c88-f893b5-feaec0-ffbdcb-ffd8d9 */
	background-image: linear-gradient(135deg, #F893B5, #FFBDCB, #F893B5, #FFBDCB, #F893B5);
	background-color: initial;
	background-size: 200% 100%;
	background-repeat: repeat-y;
	background-attachment: fixed;
	animation: sliding-gradient 5s linear infinite forwards;
}

/* For the navbar that stays at the top */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	z-index: 1;
}

nav {
	width: 100%;
	height: 100%;
	background-color: #161f24;
	display: flex;
	flex-direction: row;

	padding: 4px 8px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 10vw;
    padding-right: 10vw;
	margin-top: 5vw;
}

img {
    float: left;
    padding-right: 2em;
    width:300px;
}


#logo {
	height: 100%;
	aspect-ratio: 1;
}

#logo > img {
	width: 100%;
	height: 100%;
}

/* Top section of the site */
#hero {
	width: 100%;
	/* Leave room for the navbar and See More */
	padding: calc(60px + 1rem) 1rem calc(60px + 2rem);
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#hero > div {
	padding: 0 1rem;
}

#hero-side-image {
	aspect-ratio: 16/9;
}

#hero-down {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-decoration: none;
	font-size: 1.2rem;
	text-align: center;
	padding: 1rem 0.5rem;
	color: white;
}


/* For images and hidden images in general */
.covered-image {
	display: block;
	width: 100%;
	aspect-ratio: 16/9;
	position: relative;
	overflow: hidden;
}

.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .25s;
	animation: mobile-reveal .5s ease-out;
	animation-delay: .5s;
	animation-fill-mode: forwards;
}

.thumbnail {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: contain;
	background: black;
}


/* Next section. Decrease background brightness to make distinct */
#see-more {
	padding: 1rem 1rem 4rem;
	backdrop-filter: brightness(0.5);
}

/* Could be an ID but is reusable in case more sections are added with them in the future like "Latest Releases" */
.songs {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: .25rem .5rem;
}

/* Basic footer. Only needs to contain a few lines of text but be distinct */
footer {
	padding: .5rem 2rem;
	background-color: #202020;
}

footer a {
	transition: .2s;
	color: cornflowerblue;
}

footer a:hover {
	background: darkred;
	color: black;
}

/* Quick useful utility classes */
.pad-small {
	padding: 0.5rem;
}

.text-center {
	text-align: center;
}

.desktop-only {
	display: none;
}

/* Desktop styles */
@media only screen and (min-width: 868px) {
	/* Top of the site goes left-right instead of top-down on desktop */
	#hero {
		flex-direction: row;
		justify-content: center;
		padding: calc(60px + 6rem) 1rem calc(60px + 3rem);
	}

	#hero-info {
		max-width: 360px;
		margin: 0 1rem;
	}

	#hero-side-image {
		max-height: 360px;
	}

	/* Show songs in a row on wider screens */
	.songs {
		flex-direction: row;
	}


	/* Hover or focus to reveal on desktop instead of animate */
	.cover {
		animation: none;
	}

	.covered-image:hover .cover,
	.covered-image:focus .cover {
		top: -100%;
	}


	/* Show desktop-only instructions */
	.desktop-only {
		display: block;
	}
}

/* Animations for the background and song reveal animation */
@keyframes sliding-gradient {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 400%;
	}
}

@keyframes mobile-reveal {
	0% {
		top: 0;
	}
	100% {
		top: -100%
	}
}