/* Styles for this game specifically */

.timer-container {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    text-align: center;
}

.type-container {
    background-color:#DA7A88;
    /* color:#FFDFE2; */
    color: #D8A4BA;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 96px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 36px;
    font-size: larger;
}

input {
    background: transparent;
    border: 1px solid #7F3045;
    padding: 4px 8px;
    border-radius: 4px;
    outline: none;
    width: 100%;
}


.time-choice {
    margin: 16px 150px 16px;
    text-align: center;
}

.time-choice input[type="radio"]:checked+label{
    color: #AE0E2A;
}

#fifteen, #thirty, #sixty {
    margin-left: 16px;
    margin-right: 16px;
    visibility: hidden;
}