/* Styles for this game specifically */

.timer-container {
	margin-top: 1.75rem;
	text-align: center;
}


.time-choice {
    margin: 16px 0 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-grow: 1; */
}

.time-choice input[type="radio"]:checked + label {
    color: #AE0E2A;
}

.time-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    text-wrap: nowrap;
}

#time-select label {
    cursor: pointer;
}

.time-choice-right {
    display: flex;
}

#type-stack {
	width: 100%;
	padding: 12px 36px;
	position: relative;

	background-color: #F3ADBA;
	color: #BE727C;
	line-height: 36px;
	font-size: x-large;
	font-family: monospace;
}

.type-container {
	margin: 24px 0;
}

#type-area {
	width: 0;
	height: 0;
	padding: 0;
	border: 0;
	outline: none;
	position: absolute;
}

#stats-overlay p {
	margin: 0;
}

#overlay-restart {
	color: #FFCCD1;
}

.restart-container {
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#restart-button, #overlay-restart {
	background: none;
	border: none;
	align-items: center;
	font-size: x-large;
	width: fit-content;
	cursor: pointer;
}

#restart-button:hover {
	color: #AE0E2A;
}

#fifteen, #thirty, #sixty {
	width: 0;
	visibility: hidden;
}

.underline {
	text-decoration: underline;
	text-decoration-color: #FFDFE2;
}

.color-correct {
	color: #FBDCE6;
}

.color-incorrect {
	color: #AE0E2A;
}

.color-default {
	color: #BE727C;
}

.highlight-incorrect {
	background-color: #AE0E2A;
}