/* Styles for this game specifically */
main {
	padding-left: 2rem;
	padding-right: 2rem;
}

#tap-play-area {
	position: relative;
	width: 100%;
	aspect-ratio: 1;
	max-height: 75vh;
	background: #F3ADBA;
	border: 1px solid #AE0E2A;
	margin-bottom: 4rem;
	margin-top: 36px;
	/* Half the width of the tap buttons plus 4px */
	padding: 20px;
}

#ingame-info {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

#tap-spawn-zone {
	width: 100%;
	height: 100%;
	position: relative;
}

/* TODO: Duplicate styling for overlay */
#tap-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;

	color: #AE0E2A;
	background: #DB9BA3;
	padding: 1rem 2rem;
	transition: opacity 0.25s;
}

/* Make a centered circle that can be absolutely positioned */
.tap-button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: none;
	transform: translate(-50%, -50%);

	position: absolute;
	/* Position should be overridden with inline styles */
	top: 0;
	left: 0;
	background-color: #FBDCE6;
	color: #411C16;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.time-choice-right {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#difficulty-select {
    margin: 16px 0 16px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-grow: 1; */
}

#difficulty-select input[type="radio"]:checked + label {
    color: #AE0E2A;
}

#easy, #medium, #hard {
	width: 0;
	visibility: hidden;
}


#restart-button {
	background: none;
	border: none;
	align-items: center;
	font-size: x-large;
	width: 100%;
	text-align: center;
	cursor: pointer;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #AE0E2A;
	font-weight: bold;
	
}